@font-face {
  font-family: 'TheSans';
  src: url('./fonts/TheSans-5-Regular.otf') format('opentype');
}

html {
  font-family: 'TheSans';
}

.sideBar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  background-color: #efefef;
  border-right: ridge;
  visibility: visible;
}

.title {
  line-height: 3em;
  display: inline-block;
  height: inherit;
  box-sizing: border-box;
  font-weight: normal;
  color: #8A8A8A;
  font-size: 1em;
}

.sideBar ul ul {
  -webkit-padding-start: 20px;
  padding-bottom: 20px;
}

.sub {
  line-height: 1.5em;
  display: flex;
  box-sizing: border-box;
  font-weight: normal;
  color: #8A8A8A;
  font-size: 0.8em;
}

#body {
  margin-top: 20px;
  margin-left: 223px;
  margin-bottom: 20px;
  margin-right: 20px;
}

#board {
  padding: 5px;
}

#chatBox {
  top: 350px;
  max-height: 100px;
  max-width: 150px;

  font-size:12px;
  color:black;
  border: 1px teal solid;
  height: 225px;
  width: 400px;
  overflow: scroll;
  float:left;
}

#chat {
  margin-left: 10px;
  display: inline;
}

#chatField {
  min-height: 25px;
  max-width: 130px;
  font-size: 12px;
  margin-bottom: 25px;
}
#chatEnter {
  min-width: 25px;
  max-width: 40px;
  font-size: 12px;
}

.buttons {
  margin: 10px;
  text-align: center;
}

.buts-robot {
  color: white;
  border: none;
  padding: 15px 32px;
  margin: 10px;
  text-decoration: none;
  width: 10px;
  height: 10px;
  display: inline;
  font-size: 10px;
  border-radius: 8px;
}

#robot-button-red {
  background-color: red;
}

#robot-button-blue {
  background-color: blue;
}

#robot-button-yellow {
  background-color: yellow;
}

#robot-button-green {
  background-color: green;
}

#jeValide {
  color: white;
  border: none;
  padding: 15px 32px;
  margin: 10px;
  text-decoration: none;
  display: inline;
  font-size: 10px;
  border-radius: 8px;
}

.buts-orient {
  color: black;
  background-color: #ffffff;
  border: none;
  padding: 30px;
  margin: 10px;
  text-decoration: none;
  width: 10px;
  height: 10px;
  display: inline;
  font-size: 20px;
  border-radius: 8px;
}

#bid {
  max-width: 110px;
}
